<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="example-form">

      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [(ngModel)] = 'usuario.nome' name="nome">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)] = 'usuario.email' name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)] = 'usuario.senha' name="senha" type="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Escolha  a Permissao...</mat-label>
          <mat-select [(value)]="selectedRole">
            <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

      <button mat-stroked-button color="accent" class="btn-block" (click)='salvarUsuario()' 
      routerLink="login" routerLinkActive="active">Register</button>

    </form>
  </mat-card>
</div>
<router-outlet></router-outlet>